/*------------------------------------MASTER PAGE STYLESHEET------------------------------------*/
/*Background*/
body{
background-color:white;
}
/*Titles*/
h1{
color:black;
margin-left:100px;
margin-top:30px;
text-align:left;
font-family:"Lucida Calligraphy";
font-size:30px;
}
/*--------------------------------------MENU BAR STYLESHEET--------------------------------------*/
ul#list-nav {
list-style:none;
margin-left:100px;
padding:0;
width:1200px
}

ul#list-nav li {
display:inline
}

ul#list-nav li a {
text-decoration:none;
font-family:"Verdana";
padding:5px 0;
width:175px;
background:white;
color:black;
float:left;
text-align:center;
border-left:1px solid black;
border-right:1px solid black;
}

ul#list-nav li a:hover {
background:green;
color:white
}

/*----------------------------------LOGIN (AND INDEX) PAGE STYLESHEET----------------------------------*/
table.login-box{
padding: 3px;
width: 350px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
padding:20px;
border:3px solid black;
/*Positioning*/
position:absolute;
top:150px;
left:800px;
}
input.login-button{
color:black;
font:Verdana Bold;
background-color: white;
width: 150px;
height: 25px;
border:2px solid;
border-color: black black black black;
}
table.login-info{
width: 650px;
height: 400 px;
color:black;
text-align:left;
font-family:"Helvetica";
font-size:20px;
padding:20px;
border:3px solid black;
/*Positioning*/
position:absolute;
top:150px;
left:100px;
}
p.login-rights{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:650px;
margin: auto;
left:0; right:0;
}
/*-----------------------------------REGISTRATION PAGE STYLESHEET-----------------------------------*/
p.reg-command{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:225px;
left:500
}
form.reg-form{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:275px;
left:560
}
input.reg-submit{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:100px;
left: 100px;
}
p.reg-rights{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:500px;
margin: auto;
left:0; right:0;
}
/*------------------------------------THANK YOU PAGE STYLESHEET------------------------------------*/
p.ty-ty{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:225px;
left:370;
}
p.ty-info{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:265px;
left:470;
}
a.ty-link{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:360px;
left:500;
}
/*-------------------------------------HOME PAGE STYLESHEET-------------------------------------*/
table.home-graph{
width: 600px;
height: 400 px;
/*Positioning*/
position:absolute;
top:150px;
left:100px;
}
table.home-summary{
width: 425px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
/*Positioning*/
position:absolute;
top:150px;
left:750px;
}
table.home-log{
width: 1050px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
/*Positioning*/
position:absolute;
top:575px;
left:100px;
}
table#home-table{
font-family:"Helvetica";
width:100%;
border-collapse:collapse;
}
table#home-table td{
font-size:16px;
text-align:left;
border:1px solid black;
padding:7px;
width:100px;
}
table#home-table th{
font-size:18px;
border:1px solid black;
text-align:center;
padding-top:5px;
padding-bottom:4px;
/*light green*/
background-color:#A7C942;
color:white;
width:100px;
}
p.home-rights{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:900px;
margin: auto;
left:0; right:0;
}
/*------------------------------------ADD LOG (SURVEY) STYLESHEET------------------------------------*/
form.add{
font-family:"Helvetica";
size:14px;
/*Positioning*/
position:absolute;
top:150px;
left:100px;
}
p.add-rights{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top: 1250px;
margin: auto;
left:0; right:0;
}
/*-----------------------------------VIEW DATA (WELCOME) STYLESHEET-----------------------------------*/
table.wel-log{
width: 1050px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
/*Positioning*/
position:static;
margin-left:100px;
margin-top: 75px;
}
table.wel-details{
width: 1050px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
/*Positioning*/
position:static;
margin-left:100px;
margin-top: 50px;
}
table.wel-sum{
width: 400px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
/*Positioning*/
position:relative;
margin-left:100px;
top: 45px;
}
table.wel-typ{
width: 400px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
/*Positioning*/
position:relative;
margin-left:100px;
left:650px;
top: -100px;
}
table.wel-wkend{
width: 400px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
/*Positioning*/
position:relative;
margin-left:100px;
top: -75px;
}
table.wel-wday{
width: 400px;
color:black;
text-align:center;
font-family:"Helvetica";
font-size:20px;
/*Positioning*/
position:relative;
margin-left:100px;
top: -190px;
left: 650px;
}
table.wel-graph{
/*Positioning*/
position:relative;
margin-left:100px;
top: -150px;
}
table#wel-table{
font-family:"Helvetica";
width:100%;
border-collapse:collapse;
}
table#wel-table td{
font-size:14px;
text-align:left;
border:1px solid black;
padding:7px;
}
table#wel-table th{
font-size:16px;
border:1px solid black;
text-align:center;
padding-top:5px;
padding-bottom:4px;
/*light green*/
background-color:#A7C942;
color:white;
}
p.wel-none{
text-align:center;
}
p.wel-rights{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:static;
margin: auto;
left:0; right:0;
}
/*----------------------------------------GRAPHS STYLESHEET----------------------------------------*/
table.graph-graph{
/*Positioning*/
position:relative;
margin-left:100px;
}
table#graph-table{
font-family:"Helvetica";
width:100%;
border-collapse:collapse;
}
table#graph-table td{
font-size:14px;
text-align:left;
border:1px solid black;
padding:7px;
}
table#graph-table th{
font-size:16px;
border:1px solid black;
text-align:center;
padding-top:5px;
padding-bottom:4px;
/*light green*/
background-color:#A7C942;
color:white;
}
p.graph-rights{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:static;
margin: auto;
left:0; right:0;
}
/*------------------------------------GOAL PAGE STYLESHEET------------------------------------*/
p.goal-current{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:200px;
margin: auto;
left:0; right:0;
}
p.goal-command{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:225px;
margin: auto;
left:0; right:0;
}
form.goal-form{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:275px;
margin: auto;
left:0; right:0;
}
input.goal-submit{
text-align:center;
font-family:"Verdana";
font-size:14px;
width:200px;
/*Positioning*/
position:absolute;
top:50px;
margin: auto;
left:0; right:0;
}
p.goal-rights{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:500px;
margin: auto;
left:0; right:0;
}
/*------------------------------------REMINDER PAGE STYLESHEET-----------------------------------*/
p.rem-current{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:200px;
margin: auto;
left:0; right:0;
}
p.rem-command{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:275px;
margin: auto;
left:0; right:0;
}
form.rem-form{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:325px;
margin: auto;
left:0; right:0;
}
input.rem-submit{
text-align:center;
font-family:"Verdana";
font-size:14px;
width: 200px;
/*Positioning*/
position:absolute;
top:125px;
margin: auto;
left:0; right:0;
}
p.rem-warn{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:475px;
margin: auto;
left:0; right:0;
}
p.rem-rights{
text-align:center;
font-family:"Verdana";
font-size:14px;
/*Positioning*/
position:absolute;
top:550px;
margin: auto;
left:0; right:0;
}